* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat",sans-serif;
  }
body{
    position: relative;
    background-image: url(img/fon.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #000;
}
.btn {
    color: #fff;
    background: #f33535;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease;
    border: 1px solid transparent;
  }
  
  .btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #f33535;
  }
  .title{
    position: relative;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: crimson;
    margin-bottom: 80px;
  }
  .title::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: crimson;
    transform: translate(-50%);
  }
  .title::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
    transform: translate(-50%);
  }

/* ------------------------------ */
.navbar{
    background-color: #FF6C3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-weight: 500;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.navbar a{
    color: #fff;
}
.navbar .menu_open{
    display: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.navbar .logo{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.navbar .navigation a{
    margin: 10px;
    font-size: 17px;
    padding: 2px 5px;
    transition: 1s ease;
}
.navbar .navigation a:hover{
    color: #000;
}
/* ----------------------------- */
.main{
    height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main_content{
    color: #F33535;
    padding: 20px;
    margin: -90px 0 0 50px;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 5px;
}
.main .main_content p{
    font-size: 25px;
    font-weight: 600;
}
.main .main_content h2{
    font-size: 40px;
}
.animated-text {
    height: 70px;
    overflow: hidden;
    margin: 5px 0;
  }
  
.animated-text h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}
  
.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}
@keyframes text-move {
    0% {margin-top: 0;}
    25% {margin-top: -70px;}
    50% {margin-top: -140px;}
    75% {margin-top: -70px;}
    100% {margin-top: 0;}
}
.main .btn{
  margin: 20px 0;
}
.main .media-icons a{
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}
/* ------------------------------------ */
  .about{
    height: 100vh;
    background: #fff;
    padding: 80px 30px 0;
  }
  .about_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about_content .img-card img{
    height: 320px;
    border-radius: 5px;
  }
  .column{
    width: 45%;
  }
  .paragraph-text{
    padding: 8px 0px 15px;
  }
  .paragraph-text li{
    margin: 10px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
  /* ---------------------------------- */
  .skills{
    height: 100vh;
    background: #000016;
    padding: 80px 50px 0;
  }
  .skills_content{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .skills_content .bar {
    margin-bottom: 15px;
    padding: 10px;
  }
  .skills_content .bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .skills_content .info span {
    font-size: 18px;
    font-weight: 500;
  }
  
  .skills_content .line {
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
  }
  
  .skills_content .line::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 2px;
  }
  
  .skills_content .html::before {
    width: 95%;
    background: #E45126;
  }
  
  .skills_content .css::before {
    width: 85%;
    background: #0C73BB;
  }
 
  .skills_content .javascript::before {
    width: 80%;
    background: #E3A324;
  }
  .skills_content .react::before {
    width: 65%;
    background: #22A7F2;
  }
  /* ---------------------------------- */
  .work{
    height: 100vh;
    background: #fff;
    padding: 80px 20px;
    text-align: center;
  }
  .work .work_content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0 40px;
  }
  .title p {
    width: 80%;
  }
  .work_content .card {
    background: #fff;
    width: 300px;
    padding: 10px 10px 20px 10px ;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
  }
  .work_content .card img{
    width: 100%;
    border-radius: 4px;
  }
  .work_content .card h4{
    display: block;
    text-transform: uppercase;
    padding: 18px 0;
  }
  .too_see{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  /* --------------------------------------------------- */
  .gallery{
    height: 100vh;
    background: #000016;
    padding: 80px 0;
  }

