* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat",sans-serif;
  }
body{
    position: relative;
    background-image: url(img/fon.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #000;
}
.btn {
    color: #fff;
    background: #f33535;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease;
    border: 1px solid transparent;
  }
  
  .btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #f33535;
  }
  .title{
    position: relative;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: crimson;
  }
  .title::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: crimson;
    transform: translate(-50%);
  }
  .title::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
    transform: translate(-50%);
  }

/* ------------------------------ */
.navbar{
    background-color: #FF6C3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-weight: 500;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.navbar a{
    color: #fff;
}
.navbar .menu_open{
    display: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.navbar .logo{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.navbar .navigation a{
    margin: 10px;
    font-size: 17px;
    padding: 2px 5px;
    transition: 1s ease;
}
.navbar .navigation a:hover{
    color: #000;
}
/* ----------------------------- */
.main{
    height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main_content{
    color: #F33535;
    padding: 20px;
    margin: -90px 0 0 50px;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 5px;
}
.main .main_content p{
    font-size: 25px;
    font-weight: 600;
}
.main .main_content h2{
    font-size: 40px;
}
.animated-text {
    height: 70px;
    overflow: hidden;
    margin: 5px 0;
  }
  
.animated-text h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}
  
.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}
@keyframes text-move {
    0% {margin-top: 0;}
    25% {margin-top: -70px;}
    50% {margin-top: -140px;}
    75% {margin-top: -70px;}
    100% {margin-top: 0;}
}
.main .btn{
  margin: 20px 0;
}
.main .media-icons a{
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}
/* ------------------------------------ */
  .about{
    height: 100vh;
    background: #fff;
    padding: 80px 0 0;
  }
  .about_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 10px 20px;
  }
  .about_content .img-card img{
    height: 320px;
    border-radius: 5px;
  }
  .about_content .column{
    width: 48%;
  }
  .about_content .paragraph-text{
    padding: 10px 0px 15px;
  }
  .about_content .paragraph-text li{
    margin: 10px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
  /* ---------------------------------- */
  .skills{
    height: 100vh;
    background: #000016;
    padding: 80px 0;
  }
  /* ---------------------------------- */
  .work{
    height: 100vh;
    background: #fff;
    padding: 80px 0;
  }